@use '../../../styles/tokens/breakpoints.scss' as bp;

.header {
  width: 100%;
  background-color: var(--bc-color-background);
  border-bottom: 1px solid var(--bc-color-border);
  box-shadow: var(--bc-shadow);

  &-container {
    width: 100%;
    padding: var(--bc-spacing-small);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-area {
    display: flex;
    align-items: center;
    gap: var(--bc-spacing-small);

    figure {
      img {
        max-width: 100px;
        height: auto;
      }
    }

    .icon-menu {
      color: var(--bc-color-text-primary);
      height: 20px;
      width: 20px;

      transition: color 0.3s ease-out;

      &:hover {
        color: var(--bc-color-primary-500);
        cursor: pointer;
        
        transition: color 0.3s ease-in;
      }
    }
  }
}

@media only screen and (min-width: #{bp.$bc-viewport-tablet}) {
  .header {
    &-container {
      max-width: 960px;
      margin: 0 auto;
      padding: var(--bc-spacing-small);
    }

    &-area {
      figure {
        img {
          max-width: 120px;
        }
      }

      .icon-menu {
        height: 24px;
        width: 24px;
      }
    }

    nav {
      width: calc(100% - 220px);
      justify-content: space-between;
    }
  }
}

@media only screen and (min-width: #{bp.$bc-viewport-desktop}) { 
  .header {
    &-container {
      width: 100%;

      padding: var(--bc-spacing-medium);
    }

    &-area {
      figure {
        img {
          max-width: 140px;
        }
      }
    }

    nav {
      width: calc(100% - 350px);
      justify-content: space-between;
    }
  }
}