// --------------- Reset de css -------------- //

*, 
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  list-style-type: none;
  font-family: var(--bc-font-family);
  font-size: var(--bc-font-size-small);
}

a {
  color: var(--bc-color-gray-900);
  text-decoration: none;
}

button {
  appearance: none;
  color: none;
}

h1 {
  font-size: var(--bc-font-size-extra-large);
}