# Environment variables for Balloon Comics project

# Service ports configuration
AUTH_PORT=
CORE_PORT=
FRONTEND_URL=

# Auth database configuration
AUTH_DB_NAME=
AUTH_DB_USER=
AUTH_DB_PASSWORD=

# Core database configuration
CORE_DB_NAME=
CORE_DB_USER=
CORE_DB_PASSWORD=

# JWT configuration
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
JWT_TOKEN_AUDIENCE=
JWT_TOKEN_ISSUER=
JWT_TOKEN_EXPIRATION=
JWT_REFRESH_TOKEN_EXPIRATION=

# Redirect URL configuration
NEXT_URL=

# RabbitMQ configuration
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_URL=
RABBITMQ_EXCHANGE=
RABBITMQ_QUEUE=
RABBITMQ_QUEUE_KEY=
RABBITMQ_DEAD_LETTER_EXCHANGE=
RABBITMQ_DEAD_LETTER_ROUTING_KEY=

# LocalStack configuration
LOCALSTACK_AUTH_TOKEN=

# AWS configuration
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_ENDPOINT=
AWS_S3_BUCKET_NAME=

# CloudFront configuration
AWS_CLOUDFRONT_CDN_URL=