.dialog {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.5);
    
  &-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: auto;
    background-color: var(--bc-color-background);
    border-radius: var(--bc-spacing-smallest);
    margin: 0 auto;
    padding: var(--bc-spacing-medium) var(--bc-spacing-medium);
    visibility: hidden;
    opacity: 0;
    top: -20px;
    margin-bottom: 40px;
    transition: visibility 0.3s ease-in, 
                opacity 0.3s ease-in,
                top 0.3s ease-in;

    .close-button {
      position: absolute;
      top: 12px;
      right: 12px;
    }

    &.active {
      visibility: visible;
      opacity: 1;
      top: 20px;
      transition: visibility 0.3s ease-out, 
                opacity 0.3s ease-out,
                top 0.3s ease-out;
    }
  }
}

@media only screen and (min-width:720px) {
  .dialog {
    &-container {
      width: 520px;
    }
  }
}

@media only screen and (min-width:1120px) {
  .dialog {
    &-container {
      width: 792px;
    }
  }
}