PORT=

# Database configuration
PG_DATABASE_HOST=
PG_DATABASE_PORT=
PG_DATABASE_NAME=
PG_DATABASE_USERNAME=
PG_DATABASE_PASSWORD=

# JWT configuration
JWT_SECRET=
JWT_TOKEN_AUDIENCE=
JWT_TOKEN_ISSUER=
JWT_TOKEN_EXPIRATION=
JWT_REFRESH_TOKEN_EXPIRATION=

# Redirect URL configuration
NEXT_URL=

# RabbitMQ configuration
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_URL=