// ---------------- Dark Theme ---------------- //

[data-theme='dark'] {
  color-scheme: dark;

  --bc-color-background: var(--bc-color-gray-900);
  --bc-color-background-secondary: var(--bc-color-gray-800);

  --bc-color-surface: var(--bc-color-gray-800);

  --bc-color-text-primary: var(--bc-color-white);
  --bc-color-text-secondary: var(--bc-color-gray-50);

  --bc-color-border: var(--bc-color-gray-700);

  --bc-shadow: 0 2px 5px rgba(100, 100, 100, 0.5);

  --bc-color-border-hover: var(--bc-color-primary-500);
  --bc-color-outline-hover: 0 0 4px 2px var(--bc-color-primary-dark-transparent);
}
