// ----------- Primitive Colors ------------- //
:root {

  --bc-color-white: #ffffff;
  --bc-color-black: #000000;

  --bc-color-gray-50: #f8f9fa;
  --bc-color-gray-100: #f1f3f5;
  --bc-color-gray-200: #e9ecef;
  --bc-color-gray-300: #dee2e6;
  --bc-color-gray-400: #ced4da;
  --bc-color-gray-500: #adb5bd;
  --bc-color-gray-600: #495057;
  --bc-color-gray-700: #343a40;
  --bc-color-gray-800: #212529;
  --bc-color-gray-900: #121416;

  --bc-color-transparent: transparent;

  --bc-color-primary-100: #fde8eb;
  --bc-color-primary-200: #f9c5cc;
  --bc-color-primary-300: #f48f9d;
  --bc-color-primary-400: #eb5266;
  --bc-color-primary-500: #e2112c;
  --bc-color-primary-600: #c90f27;
  --bc-color-primary-700: #a90c21;
  --bc-color-primary-800: #860a1a;
  --bc-color-primary-900: #640714;

  --bc-color-primary-light-transparent: rgba(230, 178, 185, 0.5);
  --bc-color-primary-dark-transparent: rgba(180, 36, 55, 0.5);

  --bc-analogous-primary-color-500: #e2112c;
  --bc-analogous-primary-color-600: #E32F12;
  --bc-analogous-primary-color-700: #E35312;
  --bc-analogous-primary-color-800: #E312AB;
  --bc-analogous-primary-color-900: #BD12E3;

  --bc-analogous-secondary-color-500: #E9ECEF;
  --bc-analogous-secondary-color-600: #E9EEF0;
  --bc-analogous-secondary-color-700: #E9EAF0;
  --bc-analogous-secondary-color-800: #E9F0EF;
  --bc-analogous-secondary-color-900: #E9E9F0;

  --bc-color-success-100: #e6f4ea;
  --bc-color-success-200: #cce9d5;
  --bc-color-success-300: #99d3ab;
  --bc-color-success-400: #66bd81;
  --bc-color-success-500: #33a857;
  --bc-color-success-600: #2d944e;
  --bc-color-success-700: #267f44;
  --bc-color-success-800: #1f6b3b;
  --bc-color-success-900: #195627;

  --bc-color-error-100: #fde8e8;
  --bc-color-error-200: #f9c5c5;
  --bc-color-error-300: #f48f8f;
  --bc-color-error-400: #eb5252;
  --bc-color-error-500: #e21111;
  --bc-color-error-600: #c90f0f;
  --bc-color-error-700: #a90c0c;
  --bc-color-error-800: #860a0a;
  --bc-color-error-900: #640707;

  --bc-color-warning-100: #fff4e6;
  --bc-color-warning-200: #ffe8cc;
  --bc-color-warning-300: #ffd199;
  --bc-color-warning-400: #ffbb66;
  --bc-color-warning-500: #ffa733;
  --bc-color-warning-600: #e6952d;
  --bc-color-warning-700: #cc841f;
  --bc-color-warning-800: #b3731f;
  --bc-color-warning-900: #995f19;

  --bc-color-info-100: #e6f4fa;
  --bc-color-info-200: #cce9f5;
  --bc-color-info-300: #99d3eb;
  --bc-color-info-400: #66bde0;
  --bc-color-info-500: #33a7d6;
  --bc-color-info-600: #2d94c2;
  --bc-color-info-700: #267fb0;
  --bc-color-info-800: #1f6b9d;
  --bc-color-info-900: #19557f;

}