// ----------- Primitive Colors ------------- //
:root {

  --bc-color-white: #ffffff;
  --bc-color-black: #000000;

  --bc-color-gray-50: #f8f9fa;
  --bc-color-gray-100: #f1f3f5;
  --bc-color-gray-200: #e9ecef;
  --bc-color-gray-300: #dee2e6;
  --bc-color-gray-400: #ced4da;
  --bc-color-gray-500: #adb5bd;
  --bc-color-gray-600: #495057;
  --bc-color-gray-700: #343a40;
  --bc-color-gray-800: #212529;
  --bc-color-gray-900: #121416;

  --bc-color-transparent: transparent;

  --bc-color-primary-100: #fde8eb;
  --bc-color-primary-200: #f9c5cc;
  --bc-color-primary-300: #f48f9d;
  --bc-color-primary-400: #eb5266;
  --bc-color-primary-500: #e2112c;
  --bc-color-primary-600: #c90f27;
  --bc-color-primary-700: #a90c21;
  --bc-color-primary-800: #860a1a;
  --bc-color-primary-900: #640714;

  --bc-color-primary-light-transparent: rgba(230, 178, 185, 0.5);
  --bc-color-primary-dark-transparent: rgba(180, 36, 55, 0.5);

  --bc-analogous-primary-color-500: #e2112c;
  --bc-analogous-primary-color-600: #E32F12;
  --bc-analogous-primary-color-700: #E35312;
  --bc-analogous-primary-color-800: #E312AB;
  --bc-analogous-primary-color-900: #BD12E3;

  --bc-analogous-secondary-color-500: #E9ECEF;
  --bc-analogous-secondary-color-600: #E9EEF0;
  --bc-analogous-secondary-color-700: #E9EAF0;
  --bc-analogous-secondary-color-800: #E9F0EF;
  --bc-analogous-secondary-color-900: #E9E9F0;

}