// ----------- Primitive Colors ------------- //
:root {

  --bc-color-white: #ffffff;
  --bc-color-black: #000000;

  --bc-color-gray-50: #f8f9fa;
  --bc-color-gray-100: #f1f3f5;
  --bc-color-gray-200: #e9ecef;
  --bc-color-gray-700: #495057;
  --bc-color-gray-800: #343a40;
  --bc-color-gray-900: #212529;

  --bc-color-transparent: transparent;

  --bc-color-primary: #e2112c;

}