:root {

  // ----------- Spacing ------------------ //

  --bc-spacing-smallest: 0.5rem; //8px;
  --bc-spacing-small: 0.75rem; //12px;
  --bc-spacing-medium: 1rem; //16px;
  --bc-spacing-large: 1.5rem; //24px;
  --bc-spacing-extra-large: 4.5rem; //72px;

}