:root {

  // --------- Font Family ---------------- //

  --bc-font-family: Inter, sans-serif;

  --bc-font-size-small: 13px;
  --bc-font-size-medium: 16px;
  --bc-font-size-regular: 18px;
  --bc-font-size-large: 20px;
  --bc-font-size-extra-large: 25px;
  --bc-font-size-xx-large: 31px;

  // --------- Font Weight ---------------- //

  --bc-font-weight-light: 400;
  --bc-font-weight-normal: 500;
  --bc-font-weight-bold: 600;
  --bc-font-weight-superbold: 700;

}