:root {

  // --------- Font Family ---------------- //

  --bc-font-family: Manrope, sans-serif;

  --bc-font-size-extra-small: 0.688rem; // 11px;
  --bc-font-size-small: 0.813rem; //13px;
  --bc-font-size-medium: 1rem; //16px;
  --bc-font-size-regular: 1.125rem; //18px;
  --bc-font-size-large: 1.25rem; //20px;
  --bc-font-size-extra-large: 1.563rem; //25px;
  --bc-font-size-xx-large: 1.938rem; //31px;

  // --------- Font Weight ---------------- //

  --bc-font-weight-light: 400;
  --bc-font-weight-normal: 500;
  --bc-font-weight-bold: 600;
  --bc-font-weight-superbold: 700;

}