PORT=

// Database configuration
PG_DATABASE_HOST=
PG_DATABASE_PORT=
PG_DATABASE_NAME=
PG_DATABASE_USERNAME=
PG_DATABASE_PASSWORD=

// JWT configuration
JWT_SECRET=
JWT_TOKEN_AUDIENCE=
JWT_TOKEN_ISSUER=
JWT_TOKEN_EXPIRATION=

// RabbitMQ configuration
RABBITMQ_URL=
RABBITMQ_EXCHANGE=
RABBITMQ_QUEUE=
RABBITMQ_QUEUE_KEY=
RABBITMQ_DEAD_LETTER_EXCHANGE=
RABBITMQ_DEAD_LETTER_ROUTING_KEY=