.container {
  height: fit-content;
  
  .main {
    &-container {
      position: relative;
      background-color: var(--bc-color-background-secondary);
      display: flex;
      flex-direction: column;
      height: fit-content;
      min-height: calc(100vh - 63px);
      width: 100%;
      position: relative;
      top: 63px;
      z-index: 0;
    }
  }

  .no-header {
    min-height: 100vh;
    top: 0;
  }
}

@media only screen and (min-width: 960px) {
  .container {
    min-height: 100vh;
  }
}